{#{% extends 'temp/shop.html' %}#}
{% block rating %}
<form>
	<h2 align="center">VIEW RATING</h2>
	<table border="1" align="center">
		<tr>
			<td>No</td>
			<td>Shop Name</td>
			<td>date</td>
			<td>Rating</td>
		</tr>
        {% for i in o  %}



		<tr>
			<td>{{ x.r_id }}</td>
            <td>{{ x.d }}</td>
			<td>{{ x.u.u_name }}</td>
			{% if obj.rating == '1' %}
      <td style="color: yellow">&#9733;</td>
          {% elif obj.rating == '2' %}
          <td style="color: yellow">&#9733;&#9733;</td>
          {% elif obj.rating == '3' %}
          <td style="color: yellow">&#9733;&#9733;&#9733;</td>
          {% elif obj.rating == '4' %}
          <td style="color: yellow">&#9733;&#9733;&#9733;&#9733;</td>
          {% else %}
          <td style="color: yellow">&#9733;&#9733;&#9733;&#9733;&#9733;</td>
{% endif %}

{#			<td></td>#}
			<!-- <td><a href="">EDIT</a></td> -->
		</tr>
        {% endfor %}
	</table>
</form>
{% endblock %}